<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/addons/p5.sound.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/front.css') }}">
    <meta charset="utf-8" />
  <meta name=""description" content="Mirai's personal website."/>
  </head>
  <body>
    <div id="content">
      <p>
        Hi, I'm Mirai. I love learning about things and going down rabbit holes.
      </p>
      <a class="link" href="https://github.com/miishin">my github</a>
      <a class="link" href="/friends">get to know me personally</a>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
