<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/addons/p5.sound.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/personal.css') }}">
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="content">
      <div class="grouping">
        <span id="header">stuff i like:</span>
        <a class="link" href="https://rateyourmusic.com/~miishin">music</a>
        <a class="link" href="https://letterboxd.com/miishin/">movies</a>
        <a class="link" href="https://anilist.co/user/miishin/">animanga</a>
        <a class="link" href="https://www.serializd.com/user/miishin/profile">television</a>
        <a class="link" href="https://glitchwave.com/user/miishin/">video games</a>
      </div>
      <br>
      <div class="grouping">
        <span id="header">my hobbies</span>
        <a class="link" href="https://flickr.com/people/141681852@N03/">I take photos sometimes</a>
      </div>
    </div>
    <script src="personal.js"></script>
  </body>
</html>
