<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/addons/p5.sound.min.js"></script>
    <link rel="stylesheet" type="text/css" href="personal.css">
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="content">
      <a class="link" href="/likes">stuff that I like</a>
      <a class="link" href="https://flickr.com/people/141681852@N03/">I take photos sometimes</a>
    </div>
    <script src="personal.js"></script>
  </body>
</html>
