<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/addons/p5.sound.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="content">
      <p>I'm Mirai, I love learning about new things and trying them out, which is why 
        my portfolio might be a bit messy.
      </p>
      <a class="link" href="https://github.com/miishin">Coding</a>
    </div>
    <script src="{{ url_for('static', filename='pro.js') }}"></script>
  </body>
</html>
